.catalogo {
  padding: 1rem;
  text-align: center;
  min-height: 80vh;
}

.catalogo h2 {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 24px;
}

.main {
  margin: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  background: #222;
  border-radius: 8px;
  padding: 1rem;
  transition: transform 0.2s;
  text-align: center;
}
.card:hover {
  transform: scale(1.05);
}

.card h3, p{
  margin: 0;
  text-align: left;
} 

.card img {
  width: 100%; 
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  background-size: cover;
}

.card-descricao {
  font-size: 14px;
  color: #aaa;
  margin-top: 0.5rem;
  text-align: left;
}

.notfound {
  padding: 2rem;
  text-align: center;
  min-height: 80vh;
}