.header {
  background-color: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  color: red;
  margin: 0;
  font-size: 48px;
}
nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav Link {
  color: white;
  text-decoration: none;
}

.botao_link{
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
}

