.home {
  text-align: left;
  min-height: 100vh;
  margin: 1rem;
  border-radius: 12px;
  background-image: 
    url("https://cdn.observatoriodocinema.com.br/2024/07/Ko6gZ5Iv-the-witcher-netflix-1024x540.webp");
  background-size: cover;
}
.text-main {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 8px;
}