body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f1f1f1;
}
html, body {
  height: 100%;
  padding: 0;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  color: #61dafb;
  text-decoration: none;
  margin: 0 10px;
}
a:hover {
  text-decoration: underline;
}
